# pip install -r requirements.txt

fastapi==0.88.0
#uvicorn[standard]==0.20.0
uvicorn[standard]
python-multipart==0.0.5
opencv-python==4.6.0.66
numpy==1.23.5
mtcnn==0.1.1
tensorflow==2.11.0
pytz==2022.6